nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand SURFing
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_ask") 引言 INTRO
        li
          a(href="#section_tips") 小秘訣 TIPs
        li
          a(href="#section_food") 食物 FOOOD!
        li
          a(href="#section_location") 地點 LOCATION

header.jumbotron
  .container
    h1(data-0="transform: translateY(-50px)"
    data-500="transform: translateY(100px)"
    )  衝浪，只是享受海浪帶來的擁抱
    hr
    button.btn.music 讓音浪帶著你去衝浪
section#section_ask
  .container
    .row
      .col-sm-7(data-300="opacity: 0"
    data-500="opacity: 1"
    )
        h2 當浪打來時，你應該要做的第一件事是？
      .col-sm-5.img(data-0="transform: scale(0.1) translate(1000px,30px)"
    data-500="transform: scale(1.4) translate(-30px,0px)")

section#section_tips
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
        h1 衝浪的小訣竅
        hr
        .col-md-4.col-sm-6
          .img_wrap(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
            img(src="https://i.imgur.com/9b7TZhG.png", alt="")
          h3(data-bottom-top="transform: translateY(-50px);opacity:0" data-bottom="transform: translateY(0px);opacity:1") Step1. 轉頭看浪
          p(data-bottom-top="transform: translateY(-50px);opacity:0" data-bottom="transform: translateY(0px);opacity:1") 身體和衝浪板平行，並與後方的浪垂直時，輕輕的向後轉頭看下與浪的距離
        .col-md-4.col-sm-6
          .img_wrap(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
            img(
              src="https://cdn.thegentlemansjournal.com/wp-content/uploads/2012/08/freestyle-6601-900x600-c-center.jpg",
              alt=""
            )
          h3(data-bottom-top="transform: translateY(-50px);opacity:0" data-bottom="transform: translateY(0px);opacity:1") Step2. 划水加速
          p(data-bottom-top="transform: translateY(-50px);opacity:0" data-bottom="transform: translateY(0px);opacity:1") 當浪距離你一個衝浪板的距離時，將頭縮回看向正前方，並開始划水加速
        .col-md-4.col-sm-6
          .img_wrap(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
            img(
              src="https://www.getreadyhk.com/images/stories/lifestyle/big-wave-bay/tai_long_wan_05.jpg",
              alt=""
            )
          h3(data-bottom-top="transform: translateY(-50px);opacity:0" data-bottom="transform: translateY(0px);opacity:1") Step3. 瞬間波比跳
          p(data-bottom-top="transform: translateY(-50px);opacity:0" data-bottom="transform: translateY(0px);opacity:1") 當你覺得浪開始載著你和衝浪板時，抓準時機，用手撐起來，腳同時跳起成蹲姿，像是跳到一半的波比跳

section#section_food
  .container-fluid
    .row
      .col-sm-5.pic(data-bottom-top="background-size: 170%;background-position:0% 0%" data-center="background-size: 120%;background-position:50% 50%")
        .steam
          span.span1
          span.span2
          span.span3
          span.span4
          span.span5
      
      .col-sm-7
        .col-sm-12.feature
          h2 衝浪完最需要享受
          .col-sm-4(data-bottom-top="transform: scale(1.5);opacity:0" data-center="transform: scale(1);opacity:1")
            i.fas.fa-pizza-slice
            h4 好吃的披薩
          .col-sm-4(data-bottom-top="transform: scale(1.5);opacity:0" data-center="transform: scale(1);opacity:1")
            i.fas.fa-glass-cheers
            h4 冰涼的啤酒
          .col-sm-4(data-bottom-top="transform: scale(1.5);opacity:0" data-center="transform: scale(1);opacity:1")
            i.fas.fa-drumstick-bite
            h4 酥脆的炸雞
        .col-sm-12
          p 衝浪一小時相當於消耗360大卡，因此結束後最需要大吃大喝～</br></br>才有力氣追上下一波人生的大浪～～ </br></br>BTW，先讓我叫一份瑪格麗特薄皮披薩，配上一杯長島冰茶吧！
          
section#section_location
  .container-fluid
    .row
      .col-sm-12
        h2 2021夏天，就來外澳衝浪！ 
        hr
      .col-sm-4.pic1(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
        h3 漂流者酒吧
      .col-sm-4.pic2(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
        h3 極酷衝浪
      .col-sm-4.pic3(data-bottom-top="transform: translateY(-50px);opacity:0" data-center="transform: translateY(0px);opacity:1")
        h3 外澳沙灘

footer.jumbotron
  .container
    h2 想了解更多有關衝浪相關的消息嗎
    input.form-control(placeholder="EMAIL")
    hr
    button.btn.mailto 訂閱熱情
    